.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.itemCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px #00000014;
  text-align: center;
}

.productImage {
  width: 40%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 1.5rem;
}

.cartButton {
  padding: 0.8rem;
  margin-top: 1rem;
  background-color: var(--main-green);
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid var(--green-border);
  border-radius: 25px;
  cursor: pointer;
}

.productName {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.productPrice {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.quantityInput {
  width: 50%;
  padding: 5px 6px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
  background-color: #f8f8f8;
  text-align: center;
}

.quantityInput:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.quantityFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.quantityAdjust input {
  margin: 0 0.5rem;
}

.quantityAdjust button {
  padding: 0.5rem 1rem;
  background-color: var(--main-green);
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid var(--green-border);
  border-radius: 10px;
  cursor: pointer;
}

.quantityAdjust button:hover {
  background-color: white;
  color: var(--green-border);
  transition: background-color ease 0.1s;
}

.cartButton:hover {
  background-color: white;
  color: var(--green-border);
  transition: background-color ease 0.1s;
}

@media (min-width: 1200px) {
  .itemCard {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
  }

  .productName {
    font-size: 16.5px;
  }

  .quantityInput {
    width: 50%;
  }

  .quantityFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .cartButton {
    font-size: 17px;
  }
}
