.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

@media (min-width: 1200px) {
  .listContainer {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 1fr);
  }
}
